{% extends "layout.html" %}

{% block head %}
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css" type="text/css">
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        {{ script|indent(4)|safe}}
{% endblock %}

{% block body %}

<p><a href="/">Upload a different file</a></p>

<br>

<h4>Map of your activity</h4>
{{ activitymap_div|indent(4)|safe }}

<br>

<h4>Recorded Data of Interest</h4>
<div class="table-condensed table-striped table-hover">
    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}
</div>

<br>

<h4>Plots of said data</h4>
{{ plot1_div|indent(4)|safe }}
{{ plot2_div|indent(4)|safe }}
{{ plot3_div|indent(4)|safe }}

<br>

<p><a href="/">Upload a different file</a></p>

{% endblock %}
