<!doctype html>
<head>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css" rel="stylesheet" type="text/css">
    
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcIU6DrIyKGVxKJHbL8lgm0YMyj7UEAvU&callback=initMap"
  type="text/javascript"></script>
</head>
<title>Best WebApp Ever</title>

{% block body %}{% endblock %}
